__pycache__/
*.py[cod]
*$py.class
*.so
.env
*.egg-info/
dist/
build/
venv/
.venv/
instance/
*.db
*.sqlite3
.pytest_cache/
.ruff_cache/
.tox/
htmlcov/
.env
app=org.py
templates/predict-org.html
1.py
random_forest_v1.joblib
.git
